@layer base, article, components.article, components.forms, components.button, utilities;

@layer base {
	:root {
		--base-100: #fff;
		--base-200: #f1f5f9;
		--base-300: #e2e8f0;
		--base-500: #a0aec0;
		--base-800: #2d3748;
		--base-900: #1a202c;
		--text-color-100: #94a3b8;
		--text-color-200: #475569;
		--text-color-300: #020617;
		--primary-hsl: 193deg 94% 24%;
		--secondary-hsl: 230deg 94% 24%;
		--primary: hsl(var(--primary-hsl));
		--radius: 1rem;
		--radius-interactive: 0.5rem;

		--shadow-color: var(--primary-hsl);
		--shadow-opacity: 0.08;
		--shadow-elevation-low: 0 1px 1.1px hsl(var(--shadow-color) / var(--shadow-opacity)),
			0 1.7px 1.9px -1.2px hsl(var(--shadow-color) / var(--shadow-opacity)),
			0 4px 4.5px -2.5px hsl(var(--shadow-color) / var(--shadow-opacity));
		--shadow-elevation-medium: 0px 1px 1.1px hsl(var(--shadow-color) / var(--shadow-opacity)),
			0 3.3px 3.7px -0.8px hsl(var(--shadow-color) / var(--shadow-opacity)),
			0 8.2px 9.2px -1.7px hsl(var(--shadow-color) / var(--shadow-opacity)),
			0 20px 22.5px -2.5px hsl(var(--shadow-color) / var(--shadow-opacity));
		--shadow-elevation-high: 0px 1px 1.1px hsl(var(--shadow-color) / var(--shadow-opacity)),
			0 5.8px 6.5px -0.4px hsl(var(--shadow-color) / var(--shadow-opacity)),
			0 10.9px 12.3px -0.7px hsl(var(--shadow-color) / var(--shadow-opacity)),
			0 17.9px 20.1px -1.1px hsl(var(--shadow-color) / var(--shadow-opacity)),
			0 28.6px 32.2px -1.4px hsl(var(--shadow-color) / var(--shadow-opacity)),
			0 44.7px 50.3px -1.8px hsl(var(--shadow-color) / var(--shadow-opacity)),
			0 67.9px 76.4px -2.1px hsl(var(--shadow-color) / var(--shadow-opacity)),
			0 100px 112.5px -2.5px hsl(var(--shadow-color) / var(--shadow-opacity));
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	html {
		background-color: var(--base-300);
		background-image: url('../lib/images/pattern.svg');
		background-blend-mode: color-burn;
		background-size: 25%;
		overflow-y: scroll;
		scroll-behavior: smooth;

		scroll-snap-type: y mandatory;
	}

	body {
		font-family: 'Wix Madefor Text', sans-serif;
		margin: 0;
		color: var(--text-color-300);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ol,
	ul,
	dl {
		margin-block: 0;
	}

	*:focus-visible {
		outline: 2px solid var(--primary);
		outline-offset: 2px;
		border-radius: 0.25em;
	}
}

@layer elements {
	dl,
	dd,
	dt {
		margin-inline: 0;
	}

	dl {
		display: grid;
		grid-template-columns: max-content 1fr;
		gap: 0.5rem 1rem;
		justify-content: space-between;
	}

	dd {
		color: var(--text-color-200);
		text-align: end;
	}

	main {
		inline-size: fit-content;
		margin-inline: auto;
	}

	pre {
		background: var(--base-200);
		padding: 1.5rem;
		inline-size: fit-content;
		max-inline-size: 100%;
		border-radius: var(--radius);
	}
}

@layer utilities {
	.pretty-image {
		display: grid;
	}

	.pretty-image > * {
		grid-area: 1 / 1;
		z-index: 0;
	}

	.pretty-image > *:first-child {
		filter: blur(0.3rem) brightness(0.8);
		position: relative;
		top: 0.25rem;
		opacity: 0.5;
	}

	.text-success {
		color: #10b981;
	}

	.stretched-link {
		position: absolute;
		inset: 0;
		z-index: 1;
	}

	.visually-hidden {
		position: absolute;
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		width: 1px;
		overflow: hidden;
		white-space: nowrap;
	}

	.text-clamp {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: var(--lines-to-show, 3);
		overflow: hidden;
	}
}
