@layer base {
	:root {
		--base-100: #fff;
		--base-200: #f1f5f9;
		--base-300: #e2e8f0;
		--text-color-100: #94a3b8;
		--text-color-200: #475569;
		--text-color-300: #020617;
		--primary-hsl: 163deg 94% 24%;
		--primary: hsl(var(--primary-hsl));
		--radius: 1rem;

		--shadow-color: var(--primary-hsl);
		--shadow-opacity: 0.14;
		--shadow-elevation-low: 0 1px 1.1px hsl(var(--shadow-color) / var(--shadow-opacity)),
			0 1.7px 1.9px -1.2px hsl(var(--shadow-color) / var(--shadow-opacity)),
			0 4px 4.5px -2.5px hsl(var(--shadow-color) / var(--shadow-opacity));
		--shadow-elevation-medium: 0px 1px 1.1px hsl(var(--shadow-color) / var(--shadow-opacity)),
			0 3.3px 3.7px -0.8px hsl(var(--shadow-color) / var(--shadow-opacity)),
			0 8.2px 9.2px -1.7px hsl(var(--shadow-color) / var(--shadow-opacity)),
			0 20px 22.5px -2.5px hsl(var(--shadow-color) / var(--shadow-opacity));
		--shadow-elevation-high: 0px 1px 1.1px hsl(var(--shadow-color) / var(--shadow-opacity)),
			0 5.8px 6.5px -0.4px hsl(var(--shadow-color) / var(--shadow-opacity)),
			0 10.9px 12.3px -0.7px hsl(var(--shadow-color) / var(--shadow-opacity)),
			0 17.9px 20.1px -1.1px hsl(var(--shadow-color) / var(--shadow-opacity)),
			0 28.6px 32.2px -1.4px hsl(var(--shadow-color) / var(--shadow-opacity)),
			0 44.7px 50.3px -1.8px hsl(var(--shadow-color) / var(--shadow-opacity)),
			0 67.9px 76.4px -2.1px hsl(var(--shadow-color) / var(--shadow-opacity)),
			0 100px 112.5px -2.5px hsl(var(--shadow-color) / var(--shadow-opacity));
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	html {
		background-color: var(--base-300);
		background-image: url('../lib/images/pattern.svg');
		background-blend-mode: color-burn;
		background-size: 25%;
		overflow-y: scroll;
	}

	body {
		font-family: 'Wix Madefor Text', sans-serif;
		margin: 0;
		color: var(--text-color-300);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ol,
	ul {
		margin-block: 0;
	}
}
