:root {
  // default theme color
  // can be overrided by uses `themeConfig` option
  --slidev-theme-primary: #3e5166;
  --slidev-theme-secondary: #34d399;
  --curve-big-fill: purple;
  --curve-small-fill: pink;
}

/* general css here */

html:not(.dark) #slide-content {
  /* light mode css here */
  @apply bg-white text-primary;

  .console {
    background: white;
  }
}

.dark #slide-content {
  --curve-big-fill: rgb(183, 183, 183);
  --curve-small-fill: rgb(110, 110, 110);

  .console {
    background: rgb(36, 41, 46);
  }

  /* dark mode css here */
  @apply bg-primary-600 text-light-300;

  h1 {
    @apply text-secondary;
  }

  a {
    @apply text-secondary-300 hover:text-secondary-500;
  }
}

.slidev-layout {
  @apply relative h-full;

  h1 {
    @apply mb-8 mt-0;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-display;
  }

  a {
    @apply text-secondary-600 hover:text-secondary-700 dark:text-gray-50 dark:hover:text-secondary-300 transition ease-in-out duration-300;
  }

  img {
    border-radius: 5px;
  }

  ul {
    @apply list-disc;
  }

  .prose > ul {
    li {
      margin-left: 0;
    }
  }

  ul.emoji-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding-left: 1rem;
      text-indent: -0.7rem;
    }

    li::before {
      content: '🐧 ';
    }
  }

  pre {
    @apply font-bold;
    font-size: 0.65rem !important;
  }

  code {
    @apply dark:text-secondary-300 text-gray-700 bg-gray-200 dark:bg-gray-800;

    font-size: 0.75em;
    font-weight: bold;
  }

  .shiki code {
    background: none;
    font-size: 1em;
  }

  .slidev-code-wrapper > pre {
    max-width: 400px;
  }

  iframe label.btn {
    display: none;
  }

  .dishonored {
    opacity: 0.5;
  }
}
